* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url(foto/xbU9wL3ukbM.png);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .d-flex .search{
    border:none;
    border:1px solid ;
 border-radius:50px;
 max-width:100%;
 
 background:#C4c4c4;
 opacity:0.5;
}
.btn {
    outline:none;
}
.material-icons {
    position:relative;
    right:50px;
    top:5px;
   
}
  .navbar-brand
  {
      font-family:"Raleway";
  }
  .nav-link {
    font-family:"Raleway";
    color:white;
    position:relative;
    left:600px;
    font-size:15px;
   
  }
  .nav-link strong {
      padding:21px 10px;
  }
   #signup {
      box-sizing: border-box;
      border-width: thin;
      background:#2A9D8F;
      
  }
  main {
      position:relative;
      margin-top:350px;
      font-family:"Raleway";
      font-size:120px;
      color:white;
      font-style:unset;
  }
  footer {
      page-break-after: always;
  }
  .logo {
    position:relative;
    left:70px;
    top:175px;
  }
  .Agrifind { 
    position:relative;
    top:0px;
    font-family:'Raleway';
    font-weight: bolder !important;
    font-size:70px;
    line-height:92px;
    }
    #body2 .teks {
      position:relative;
      margin-left:50em;
        bottom:150px;;
        font-size:medium;
        font-family:"Raleway";
        font-style:bold;
        text-align:justify,right;
    }
#body3 {
    background:#D9FFFA ;
    font-family:"Raleway";
    color:black;
    
}
.whyus {
    font-size:70px;
    padding: 20px 250px 0px 9.10em;
   align-content:end;
    align-items:center;
}
.container {
    display: flex;

    /* Properti lainnya */
    width: 800px;
    height: 250px;
   
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
.box {
    flex-grow: 1;

    /* properti lainnya */
    background: linear-gradient(359.22deg, #4FFFA0 0.71%, rgba(255, 255, 255, 0) 99.37%), #6FB4AB;
    margin: 5px;
    color:#1A7B6F;
    padding-top:50px;
    margin-bottom:10px;
    margin-left:30px;
    font-family:"Raleway";
    text-align:center;
    align-items:center;
    font-size:50px;
    font-weight: 80px;
    
    border-radius: 30px;
}

 

.FAQ {
    position:relative;
    font-style:unset;
    font-weight:bolder !important;
    top:0px;
    padding-top:50px;
    font-family:"Raleway";
    text-align:center;
    align-items:center;
    font-size:70px;
    font-weight: 80px;
}
.accordion
{
   position:relative;
   left:300px;
    width:60%;
   
}