body   {
    background-color:#D7D7D7;
  }
  .navbar{
    background:#16694A;
    font-family:"Raleway";
  }
  
  .navbar-brand {
    color:white;
  }
  
  
  .nav-link
  { 
    display:flex;
    color:white;
    font-family:"Raleway";
  }
  #navbarDropdownMenuLink {
    text-decoration:none;
    color:black;
    background:white !important;
    border-radius:50px;
  }
  
  
  .dropdown-menu
  {
    border-radius:25px;
    border-color:black;
  }
  footer
  {
    position:absolute;
    left:0px;
    top:900px;
    background:#16694A;
    width:100%;
    text-align: center;
    font-family:"Raleway";
    color:white;
    padding-top:15px;
    
  
  }
  .font-weight-bold
  {
      font-family:"Raleway";
      font-size:50px;
      margin-top:40px;
  }
  
  .list-group-item a {
    color:black;
    text-decoration:none;
  }
  .container1 {
    position:absolute;
    left:150px;
    margin-top:50px;
    box-sizing:border-box;
  background:white;
  position:absolute;
  display: flex;
  width: 120px;
  height: 150px;
  border-radius: 16px 16px 16px 16px;
  font-family:"Raleway";
  }
  
  .container2
  {
    position:absolute;
    top:105px;
    margin-left:400px;
  box-sizing:border-box;
  background:white;
  position:absolute;
  display: flex;
  width: 700px;
  height: 720px;
  padding: 20px;
  border-radius: 16px 16px 16px 16px;
  font-family:"Raleway";
  
  
  }
   .message {
     margin-left:30px;
     position:relative;
     right:10px;
   }
  
  .btn {
    position:absolute;
    
    right:10px;
  }
  .text .btn {
      position:relative;
    margin-top:10px;
    left:10px;
    margin-bottom:10px;
  }
  .icon li {
    position:relative;
    right:18px;
  }
.icon a {
    
    color:black;
    text-decoration:none;
    
}
 .header {
    margin: 0 0 5px 0
}

 .header .from {
    width: 49.9%;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis

}

 .header .date {
    width: 50%;
    text-align: right;
    float: right
}

 .title {
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis
}

 .description {
    font-size: 12px;
    padding-left: 29px
}

 .action {
    display: inline-block;
    width: 16px;
    text-align: center;
    margin-right: 10px;
    color: #d1d4d7
}
.from a {
    text-decoration:none;
    color:black;
}