
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  margin: 0;

}
.bg {
  background-image: url('ben-neale-sQQf8Ao3dpk-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 780px;
}

.d-flex .search{
  border:none;
  border:1px solid ;
border-radius:50px;
max-width:100%;

background:#C4c4c4;
opacity:0.5;
}
.btn {
  outline:none;
}
.material-icons {
  position:relative;
  right:50px;
  top:5px;
 
}
.navbar-brand
{
    font-family:"Raleway";
}

 #signup {
    box-sizing: border-box;
    border-width: thin;
    background:#2A9D8F;
    
}

.swal2-styled.swal2-confirm {
  background-color: green !important;
  }

  #signup {
    box-sizing: border-box;
    border-width: thin;
    background:#2A9D8F;
    border-radius: 20px;
}
.nav-link {
  font-family:"Raleway";
  color:black;
  position: relative;
  left:740px;
  max-width:100%;
  font-size:15px;
 
}